#page-orphanage-done {
  width: 100vw;
  height: 100vh;
  background: #37c77f;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-orphanage-done .content-wrapper {
  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 480px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#page-orphanage-done .content-wrapper main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-orphanage-done .content-wrapper main h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
}

#page-orphanage-done .content-wrapper main p {
  max-width: 400px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
}

#page-orphanage-done .content-wrapper main button {
  margin-top: 40px;

  width: 243px;
  height: 64px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  background: #31b272;
  color: #ffffff;
  font-weight: 800;

  transition: background-color 0.2s
}

#page-orphanage-done .content-wrapper main button:hover{
    background: #3BD689;
}

#page-orphanage-done .content-wrapper img {
    margin-right: 48px;
}


